export acr_values=http://idmanagement.gov/ns/assurance/ial/1
export client_id=urn:gov:gsa:openidconnect:sp:sinatra
export redirect_uri=http://localhost:9292/
export sp_private_key_path=./config/demo_sp.key
export irs_private_key_path=./config/irs_pk.key
# export sp_private_key=<OPTIONAL_TO_SET_KEY_HERE>
# export idp_environment=dev
export idp_domain=localhost:3000
export idp_url=http://localhost:3000
export irs_attempt_api_path='/api/irs_attempts_api/security_events'
export irs_attempt_api_auth_tokens= 'test-token-1,test-token-2'
