---
idp_url: 'http://localhost:3000'
acr_values: 'http://idmanagement.gov/ns/assurance/loa/1'
redirect_uri: 'http://localhost:9292/'
client_id: 'urn:gov:gsa:openidconnect:sp:sinatra'
sp_private_key_path: 'config/demo_sp.key'
irs_private_key_path: 'config/irs_pk.key'
cache_oidc_config: true
irs_attempt_api_path: '/api/irs_attempts_api/security_events'
irs_attempt_api_auth_tokens: 'test-token-1,test-token-2'